
.wp-container-3, .wp-container-5 {
    padding: 0;
    margin-left: 20px;
    margin-top: 200px;
    
}
.wp-block-post-date {
    letter-spacing: 3px;
    text-align: left;
    margin-left: 75px;
}
.info-paragraph {
    max-width: 199px;
    line-height: 30px;
    margin: auto;
    text-align: left;
    margin-top: 20px;

}

.grid-one{
    background-color: #FBEDF1;
    width: 253px;
    height: 430px;
    margin: auto;
}

.big-handwritten-header {
    font-family: 'Rochester', cursive;
    font-weight: 300;
    text-align: left;
    color: #C3496E;
    margin-top: 70px;
    font-size: 24px;
    padding-top: 20px;
    width: 231px;
    margin-left: 20px;

}

h1 {
    display: none;
}

.time {
    margin-left: 70px;
    text-align: left;
}

.wp-image-16, .wp-image-223, .wp-image-23, .wp-image-38, .wp-image-26, .wp-image-29, .wp-image-32, .wp-image-120, .wp-image-41, .wp-image-44, .wp-image-47, .wp-image-50, .wp-image-58, .wp-image-61, .wp-image-64, .wp-image-67, .wp-image-70, .wp-image-73 {
    width: 273px;
    height: 278px;
    object-fit: cover;
}

.smoothie-img {
    text-align: center;
    cursor: pointer;
}
.smoothie-img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.bold-header {
    text-align: center;
    margin-top: 50px;
}

.light-header {
    font-weight: 400;
    width: 273px;
    margin: auto;
    margin-top: 40px;
}

.howTo-paragraph {
    width: 273px;
    margin: 20px auto;
    text-align: left;

}

.ingredients-list {
    width: 273px;
    margin: auto;
    margin-bottom: 5px;
    text-align: left;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.wp-container-8 {
    margin-bottom: 200px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(53, 51, 51); 
    background-color: rgba(41, 39, 39, 0.9); 
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: 200px;
    margin-left: -50px;
    border-radius: 50%;
    border: 10px solid #fff1f6;
    border-top-color: #c8347bdb;
    animation: spinner .6s linear infinite;
  }
  .error-recipeDetails {
    margin-top: 200px;
    color: red;
    padding: 10px;
    width: 200px;
    margin: auto;
    margin-top: 150px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
  }